.about__section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1536px;
  width: 100%;
  height: 600px;
  background-image: url("../../../../public/about/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;

  @media (max-width: 550px) {
    justify-content: center;
  }
}

.about__sectionWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 1024px) {
    background: rgba(240, 220, 212, 0.8);
    padding: 10px 24px;
    border-radius: 8px;
    gap: 20px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about__item::before {
  content: "";
  display: block;
  background-image: url("../../../../public/knit-button.svg");
  width: 100%;
  max-width: 32px;
  height: 32px;
}
