:root {
  --accent-color: #713f38;
  --font-heading: var(--font-cormorant);
  --font-body: var(--font-montserrat);
}

body {
  background-color: #f5d7d5;
  color: #4a3732;
  font-family: var(--font-body), sans-serif;
  font-weight: 400;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 170px;
  padding: 10px 15px;
  border-radius: 8px;
  color: #f8ebeb;
  background: #ea5b5d;
}

li a {
  display: unset;
  padding: 0;
  border-radius: 0;
  background: none;
  color: var(--accent-color);
  font-weight: 500;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type="file"] {
  max-width: 100%;
}
